<html>

<head>
    <title>Forget-Password</Sign-Up>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>

<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Whats-App</a>
    <a class="btn btn-primary" href="/"> Sign-In </a>
</nav>

<body>
    <div class="container">
        <div id="wrapper">
        </div>
        <div class="card text-center">
            <h5 class="card-header">Forget-Password</h5>
            <div class="card-body">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEy0RnM81qo5Es2l1WQhFbOtV4hsbdb0FR4w&usqp=CAU"
                    height="134" width="134"><br><br>
                <form action="/forgetpassword" method="post">
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i
                                    class="fas fa-at"></i></span></div>
                        <input class="form-control" type="email" onfocus="this.value=''" id="email"
                            placeholder="E-mail...">
                        <span class="addBtn"></span>
                    </div><br>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text" id="basic-addon1"><i
                                    class="fas fa-lock"></i></span></div>
                        <input class="form-control" type="password" onfocus="this.value=''" id="newPassword"
                            placeholder="Password...">
                        <span class="addBtn"></span>
                    </div><br>
                    <button onclick="forget()" action="signUp" class="btn btn-primary" type="submit" form="nameform"
                        value="Submit" style="width:100%;">Submit</button>
                </form>
            </div>
        </div><br>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>

</html>