<!DOCTYPE html>
<html lang="en">

<head>
    <title>Whats-App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./img/favicon.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>

    <nav class="navbar navbar-inverse" style="background: rgb(89, 161, 92);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index" style="color: black;font-size: 22px;">Whats-App</a>
            </div>
            <nav class="nav navbar-nav navbar-right">
                <a class="navbar-brand" id="ownerId" style="color: black;"></a>
                <button onclick="logOut()" action="logOut" class="btn btn-primary" type="submit" form="nameform"
                    value="Submit"
                    style="border-radius: 5px; background: rgb(89, 161, 92); border: none; margin-right: 15px; margin-top: 4px; color: black; font-size: 22px;">
                    Log Out </button>
            </nav>

        </div>
    </nav>

    <div class="column left" style="background-color:rgb(255, 255, 255);height: auto; margin-top: 0%;">
        <div class="header"
            style="font-size:20px;margin-top: -10px;background: rgb(177, 177, 177);padding: 3px ;border-radius: 7px;">
            <h2>
                Friends</h2>
            <a style="font-size:24px;float: right;margin-top: -40px;" href="/addContact"
                class="fa">&#xf067;</a>
        </div>
        <hr>
        <div class="row-8" style="overflow:auto; background: white;" id="friends">
        </div>
    </div>

    <div class="column right" style="background-color:rgb(255, 255, 255);">
        <div class="settings-tray">
            <div class="friend-name" style="border-radius: 5px">
                <div class="text">
                    <h2 id="chatHeader"></h2>
                </div>
            </div>
        </div>
        <div class="col-12" style="height: 565px;overflow:auto;">
            <div class="chat-panel" id="chatBody">
                <div class="row no-gutters">
                    <div class="col-md-3">                       
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3 offset-md-9">
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-md-3">
                    </div>
                </div>
            </div>
                <div class="col-12">
                    <div class="chat-box">
                        <span style="font-size:25px;">&#128512;</span>
                        <input type="text" id="message" placeholder="Type your message here...">
                        <i style="font-size:25px" class="glyphicon glyphicon-paperclip"></i>
                        <button onclick="chatUser()" action="chatUser" id="send" type="submit" value="Submit" form="nameform"
                         style="font-size:25px" class="glyphicon glyphicon-send"></button>
                    </div>
                </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>